<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mobike</title>
        <link rel="icon" href="{% static 'img/iconoperro.png' %}">  
        <link rel="stylesheet" href="{% static 'styles/entry.css' %}">
        <link rel="stylesheet" href="{% static 'styles/menu.css' %}">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <link rel="stylesheet" href="{% static 'styles/galeria.css' %}">
        <link href="https://file.myfontastic.com/BCwNLSewuX3SRWpNHcCZnR/icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="menu-container">
            <a id="ref" href="{% url 'inicio' %}"><span class="icon-paw"></span></a>
            <label id="btn-menu" class="icon-bars"></label>
            <nav id="navegador">
                <ul>
                    <li><a href="{% url 'inicio' %}" class="item-link">Inicio</a></li>
                                  
                    
                </ul>
            </nav>
        </div>  

        <div class= "carousel-container">
            
            </div>
        
        <div class="general-container">
            
        </div>
        <script src="{% static 'js/javamenu.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

</html>